/* #root { */
  /* max-width: 1300px;
  margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center;
  border-radius: 20px;
  background-color: rgb(220, 59, 59); */

.container{
  max-width: 1300px;
margin: 0 auto;
padding: 5px;
}