@import "tailwindcss";

body{
  /* background-color: #438ecb; */
  padding-top: 10px;
  background-color: rgb(162, 189, 212);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}